@page
@model PRN231_FALL2024_GROUP6_FE.Pages.Authentication.ResetpasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Account.email"></label>
        <input asp-for="Account.email" class="form-control" />
        <span asp-validation-for="Account.email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}