@page
@model PRN231_FALL2024_GROUP6_FE.Pages.JobPostingModel
@{
    ViewData["HideNavbar"] = true;

}

<!doctype html>
<html lang="en">
  <head>
    <title>JobBoard &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link rel="stylesheet" href="/Home/css/custom-bs.css">
    <link rel="stylesheet" href="/Home/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/Home/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/Home/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/Home/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Home/css/animate.min.css">
    <link rel="stylesheet" href="/Home/css/quill.snow.css">
    

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/Home/css/style.css">
</head>
  <body id="top">

  @* <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> *@
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
        @await Html.PartialAsync("Shared/Navbar")
        <!-- JobPosting Start -->
        <section class="site-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-12">
                        <form class="p-4 p-md-5 border rounded" method="post">
                            <h3 class="text-black mb-5 border-bottom pb-2">Job Posting</h3>

                            <div class="row">
                                <!-- Cột 1 -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="jobTitle">Job Title</label>
                                        <input type="text" class="form-control" asp-for="Job.JobTitle" placeholder="Product Designer">
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Job Description</label>
                                        <textarea class="form-control" asp-for="Job.Description" placeholder="Write Job Description!"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="requirement">Requirement</label>
                                        <input type="text" class="form-control" asp-for="Job.Requirement" placeholder="Requirement details">
                                    </div>

                                    <div class="form-group">
                                        <label for="benefit">Benefit</label>
                                        <input type="text" class="form-control" asp-for="Job.Benefit" placeholder="Benefit details">
                                    </div>

                                    <div class="form-group">
                                        <label for="jobTime">Job Time</label>
                                        <input type="text" class="form-control" asp-for="Job.JobTime" placeholder="Full Time, Part Time, etc.">
                                    </div>

                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" class="form-control" asp-for="Job.Location" placeholder="e.g. New York">
                                    </div>
                                </div>

                                <!-- Cột 2 -->
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="salaryRange">Salary Range</label>
                                        <input type="text" class="form-control" asp-for="Job.SalaryRange" placeholder=">5000$">
                                    </div>

                                    <div class="form-group">
                                        <label for="experience">Experience</label>
                                        <input type="text" class="form-control" asp-for="Job.Experience" placeholder="3 years">
                                    </div>

                                    <div class="form-group">
                                        <label for="deadline">Deadline</label>
                                        <input type="datetime-local" class="form-control" asp-for="Job.Deadline">
                                    </div>

                                    <div class="form-group">
                                        <label for="jobLevel">Job Level</label>
                                        <select class="form-control" asp-for="Job.JobLevelId">
                                            <option value="">Select Level</option>
                                            <option value="1">Intern</option>
                                            <option value="2">Fresher</option>
                                            <option value="3">Junior</option>
                                            <option value="4">Middle</option>
                                            <option value="5">Senior</option>
                                            <option value="6">PM</option>
                                            <option value="7">SA</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="jobType">Job Type</label>
                                        <select class="form-control" asp-for="Job.JobTypeId">
                                            <option value="">Select Job Type</option>
                                            <option value="1">Part Time</option>
                                            <option value="2">Full Time</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="jobCategoryId">Job Category</label>
                                        <select class="form-control" asp-for="Job.JobCategoryId">
                                            <option value="">Select Job Category</option>
                                            <option value="1">IT</option>
                                            <option value="2">Marketing</option>
                                            <option value="3">Finance</option>
                                            <!-- Thêm các loại công việc khác nếu cần -->
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="listJobSkillId">Job Skills Minimum Require</label>
                                        <select class="form-control" asp-for="Job.listJobSkill" multiple>
                                            @foreach (var jobSkill in Model.jobSkills)
                                            {
                                                <option value="@jobSkill.Id">@jobSkill.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center mb-5">
                                <div class="col-lg-4 ml-auto">
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-block btn-primary btn-md">Save Job</button>
                                        </div>
                                        <div class="col-6">
                                            <a href="#" class="btn btn-block btn-light btn-md"><span class="icon-open_in_new mr-2"></span>Preview</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- JobPosting End -->
  </div>

    <!-- SCRIPTS -->
    <script src="/Home/js/jquery.min.js"></script>
    <script src="/Home/js/bootstrap.bundle.min.js"></script>
    <script src="/Home/js/isotope.pkgd.min.js"></script>
    <script src="/Home/js/stickyfill.min.js"></script>
    <script src="/Home/js/jquery.fancybox.min.js"></script>
    <script src="/Home/js/jquery.easing.1.3.js"></script>
    
    <script src="/Home/js/jquery.waypoints.min.js"></script>
    <script src="/Home/js/jquery.animateNumber.min.js"></script>
    <script src="/Home/js/owl.carousel.min.js"></script>
    <script src="/Home/js/quill.min.js"></script>
    
    
    <script src="/Home/js/bootstrap-select.min.js"></script>
    
    <script src="/Home/js/custom.js"></script>
   
   
     
  </body>
</html>