@page
@model PRN231_FALL2024_GROUP6_FE.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Account.email">Email</label>
        <input asp-for="Account.email" class="form-control" />
        <span asp-validation-for="Account.email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Account.password">Password</label>
        <input asp-for="Account.password" type="password" class="form-control" />
        <span asp-validation-for="Account.password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
